<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assets}}/css/style.css" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>

<body class="xx">
  <section class="main-content">
    <h1 class="xx-title">{{title}}</h1>

    <p class="xx-subtitle">{{subtitle}}</p>

    <div class="global-nav deluxe xx-nav">
      <ul class="inline-items">
        <li><a href="#">Home</a></li>
      </ul>

      <form action="" method="post" id="pattern" class="pattern-jump">
        <select name="section" id="pattern-select" class="nav-section-select">
          <option value="">
            Jump to&#8230;
          </option>
        </select> <button type="submit" id="pattern-submit">Go</button>
      </form>
    </div>

    <div class="pattern" id="swatches">
      <div class="pattern-details">
        <h3 class="pattern-name">Swatches</h3>
      </div>

      <div class="pattern-preview">
        <ul class="swatches">
          <li class="swatch">
            <p class="swatch-preview" style="background-color: #222;">
              <span class="swatch-details"><strong>Text:</strong> #222</span>
            </p>
          </li>

          <li class="swatch">
            <p class="swatch-preview" style="background-color: #555;">
              <span class="swatch-details"><strong>Link:</strong> #555</span>
            </p>
          </li>

          <li class="swatch">
            <p class="swatch-preview" style="background-color: #bb3825;">
              <span class="swatch-details"><strong>Accent:</strong> #bb3825</span>
            </p>
          </li>

          <li class="swatch">
            <p class="swatch-preview" style="background-color: #acba3c;">
              <span class="swatch-details"><strong>Accent 2:</strong> #acba3c</span>
            </p>
          </li>

          <li class="swatch">
            <p class="swatch-preview" style="background-color: #f0f0f0;"><span class="swatch-details" style="color: #333;"><strong>Fill:</strong> #f0f0f0</span></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="pattern" id="typography">
      <div class="pattern-details">
        <h3 class="pattern-name">Typography</h3>
      </div>

      <div class="pattern-preview">
        <ul>
          <li style="font-family: 'Open Sans', Helvetica, serif">Body text: Open Sans <small>· <a href="http://www.google.com/fonts/specimen/Open+Sans">Google Web fonts</a></small></li>

          <li style="font-family: 'Open Sans', Helvetica, serif; font-weight: 300">Body text: Open Sans Light</li>
        </ul>
      </div>
    </div>
    
    {{> body }}

  </section>

  <script src="{{assets}}/js/patterns.js" type="text/javascript"></script>

</body>
</html>
